@tailwind base;
@tailwind components;
@tailwind utilities;

/********** Custom Fonts **********/

@font-face {
    font-family: "Poppins";
    src: url("../public/font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../public/font/Poppins/Poppins-Black.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


/********** Animation Keyframes **********/

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes smoothOpen {
    from {
        right: -24rem;
    }
    to {
        right: 0;
    }
}

@keyframes smoothClose {
    from {
        right: 0;
    }
    to {
        right: -24rem;
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes scrollAnimation {
    0%, 100% {
        bottom: 35px;
    }
    50% {
        bottom: 28px;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

/********** Generic style **********/

:root {
    --primary: #6D8FFF;
    --secondary: #E284EB;
    font-family: Poppins, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;

    color: #333;
}

body {
    overflow: hidden;
}

.sections::-webkit-scrollbar {
    display: none;
}


/********** Cursor **********/

.cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: width 0.3s ease, height 0.3s ease;
}

.cursor.hover {
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    opacity: .4;
}


/********** Components **********/

.scrollOnMouse{
    animation: scrollAnimation 3s infinite cubic-bezier(0.68, -0.55, 0.17, 1.55);
}

.hamburger:hover .circle:nth-child(1),
.hamburger:hover .circle:nth-child(3),
.hamburger:hover .circle:nth-child(5),
.hamburger:hover .circle:nth-child(7),
.hamburger:hover .circle:nth-child(9){
    background-color: var(--secondary);
    border-color: var(--secondary);
    transform: rotate(45deg);
}

.hamburger:hover .circle:nth-child(2) {
    transform: translateX(-10px) rotate(45deg);
    opacity: 0;
}

.hamburger:hover .circle:nth-child(4) {
    transform: translateY(-10px) rotate(45deg);
    opacity: 0;
}

.hamburger:hover .circle:nth-child(6) {
    transform: translateY(10px) rotate(45deg);
    opacity: 0;
}

.hamburger:hover .circle:nth-child(8) {
    transform: translateX(10px) rotate(45deg);
    opacity: 0;
}

#hamburger.is-active{
    -webkit-transform: translateX(5vw);
    -ms-transform: translateX(5vw);
    -o-transform: translateX(5vw);
    transform: translateX(5vw);
}
.fade-in {
    display: block;
    animation: fadeIn 2s ease-in-out;
}

.smoothClose {
    animation: smoothClose .5s ease-in;
}

.smoothOpen {
    animation: smoothOpen .5s ease-in;
}

/********** Project arrow **********/

.project:hover .project-arrow {
    @apply opacity-100 translate-x-0;
}

.project:hover .project-name {
    @apply translate-x-0;
}

/********** Responsive **********/

@media (max-width: 768px) {
    .cursor {
        display: none;
    }
    .mouse, .scrollOnMouse {
        display: none;
    }
}