@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("src/assets/font/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    display: block;
    animation: fadeIn 2s ease-in-out;
}

:root {
    --cursor-color: #137D97;
    --title-color: #091434;
    --secondary-title-color: #82858a;
    font-family: Poppins, sans-serif;
}

h1 {
    font-size: 4.3rem;
    font-weight: 600;
    color: var(--title-color);
}

h2 {
    font-size: 1.2rem;
    color: var(--secondary-title-color);
}

.sections {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .section {
        scroll-snap-align: start;
        height: 100vh;
        font-size: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .section-indicator div {
        transition: background-color 0.3s ease;
    }
}

.sections::-webkit-scrollbar {
    display: none;
}

.cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--cursor-color);
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.mouse{
    width: 24px;
    height: 35px;
    border-radius: 50px;
    border: .2rem solid #031C3E;
    overflow: hidden;
}

.scrollOnMouse{
    width: 5px;
    height: 10px;
    background-color: #031C3E;
    border-radius: 50px;
    overflow: hidden;
    bottom: 30px;
    animation: scrollAnimation 3s infinite cubic-bezier(0.68, -0.55, 0.17, 1.55);
}

@keyframes scrollAnimation {
    0%, 100% {
        bottom: 35px;
    }
    50% {
        bottom: 28px;
    }
}

/** LanguageSwitch */
.toggle-switch {
    position: relative;
    width: 55px;
    height: 25px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
    transition: background-color .4s ease;
}

.toggle-switch .switch {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 15px;
    height: 15px;
    background-color: #eeee;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: left .4s cubic-bezier(0.68, -0.55, 0.17, 1.55);
}

.toggle-switch.french .switch {
    left: 10px;
}

.toggle-switch.english .switch {
    left: 32px;;
    background-color: #bad2ff;
}

.toggle-switch.french {
    background-color: #137D97;
}

.toggle-switch.english {
    background-color: #031C3E;
}

.fr {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 1;
    transition: opacity 1s ease;
}

.en {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0;
    transition: opacity 1s ease;
}

.toggle-switch.english .fr {
    opacity: 0;
}

.toggle-switch.english .en {
    opacity: 1;
}