@media (max-width: 1200px) {
    h1 {
        font-size: calc(5vw + 1rem);
    }
    h2 {
        font-size: calc(1vw + .5rem);
    }
}

@media (max-width: 768px) {
    .cursor {
        display: none;
    }
    .mouse, .scrollOnMouse {
        display: none;
    }
    .sections {
        height: 90vh;
    }
}